<link rel="stylesheet" href="/styles1.css">

<form action="/logout" method="get" style="margin-block: 50px">
<div>
        <h3>Bienvenido {{this.name}}</h3>
        <ul>
        
            <button type="submit" class="btn btn-success" style="margin-left: 127px">Desloguear</button>
        
        </ul>
</div>
</form>

<form action="/productos" enctype="multipart/form-data" method="post">
        <h3>INGRESE UN PRODUCTO</h3>
        <ul>
           <div class="mb-3">
           <label for="nombre" class="form-label">Nombre:</label>
           <input type="text" id="nombre" name="nombre" class="form-control">
         </div>
         <div class="mb-3">
           <label for="plataforma" class="form-label">Plataformas:</label>
           <input type="array" id="plataforma" name="plataforma" class="form-control">
           <input type="array" id="plataforma" name="plataforma" class="form-control">
           <input type="array" id="plataforma" name="plataforma" class="form-control">
         </div>
         <div class="mb-3">
           <label for="precio" class="form-label">Precio:</label>
           <input type="number" id="precio" name="precio" class="form-control">
         </div>
         <div class="mb-3">
           <label for="categoria" class="form-label">Categoria:</label>
           <input type="text" id="categoria" name="categoria" class="form-control">
         </div>
         <div class="mb-3">
           <label for="imagen" class="form-label">Imagen:</label>
           <input type="file" id="imagen" name="imagen" class="form-control">
         </div>
        
            <button type="submit" class="btn btn-success">Enviar datos</button>
        
        </ul>

       </form>


<form action="/buscarProducto"  method="get" style="margin-block: 50px">
        <h3>BUSCAR UN PRODUCTO</h3>
        <ul>
           <div class="mb-3">
           <label for="id" class="form-label">Id del producto:</label>
           <input type="text" id="id" name="id" class="form-control">
         </div>
            <button type="submit" class="btn btn-success">Buscar producto</button>
        
        </ul>

       </form>

<form>
        <ul>
           <div class="mb-3">
           <label for="nombre" class="form-label">Nombre:</label>
           <label type="text" id="nombre" name="nombre" class="form-control" style = "height: 35px">{{this.nombre}}</label>
         </div>
         <div class="mb-3">
           <label for="plataforma" class="form-label">Plataformas:</label>
           <label type="array" id="plataforma" name="plataforma" class="form-control" style = "height: 35px" >{{this.plat1}}</label> 
           <label type="array" id="plataforma" name="plataforma" class="form-control" style = "height: 35px">{{this.plat2}}</label>
           <label type="array" id="plataforma" name="plataforma" class="form-control" style = "height: 35px">{{this.plat3}}</label>
         </div>
         <div class="mb-3">
           <label for="precio" class="form-label">Precio:</label>
           <label type="number" id="precio" name="precio" class="form-control" style = "height: 35px">{{this.precio}}</label>
         </div>
         <div class="mb-3">
           <label for="categoria" class="form-label">Categoria:</label>
           <label type="text" id="categoria" name="categoria" class="form-control" style = "height: 35px">{{this.categoria}}</label>
         </div>
         <div class="mb-3">
           <label for="imagen" class="form-label">Ruta:</label>
           <label type="text" id="imagen" name="imagen" class="form-control" style = "height: 35px"></label>
         </div>
        </ul>

       </form>
  


